.cast {
    width: 100%;
    margin-top: 30px;   
    border-top: 1px solid rgb(145, 141, 141);
}

.cast h3 {
    font-size: 30px;
    text-align: left;
    font-style: italic;
}

.activeGrid {
    display: flex;
    width: 90%;
    margin:  auto;
    align-items: center;
    border: 1px solid black;
    padding: 20px;  
}



.castCrew-cnt { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
        
}

.castCrew {
    width: 210px;
    height: 250px;
    position: relative; 
    margin-bottom: 20px; 
    border: 1px solid rgb(16, 78, 136);
    
}

.castCrew img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.castCrew p {
    position: absolute;
    bottom: 8%;
    left: 18%;
    color: white;
}

.activeGrid {
    display: flex;
    width: 100%;
    margin:  auto;
    align-items: center;
    border: 1px solid rgb(175, 171, 171);
    padding: 10px;  
   
}

.activeGrid img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 0 15px;
    object-fit: cover;
}

.activeGrid p {
    color: black;
    font-weight: 700;
    font-size: 20px;
    left: 15%;
}

.toggle-grid {
    width: 80px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-image: linear-gradient(rgb(42, 20, 124), rgb(46, 143, 235));
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 15px;
}

.toggle-grid:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-image: linear-gradient(rgb(51, 9, 26), rgb(143, 48, 95));
    border-radius: 20px;
   
}

